/* Caixas */

.container {
    padding: 20px;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.caixa_foto {
    background-color: #1bb35d;
    padding: 15px;
    border-radius: 50%;
}

.foto {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    background-color: aliceblue;
    object-fit: cover;
    object-position: center;
}

.caixa {
    display: flex;
    max-width: 800px;
    height: auto;
    background-color: #1bb35d;
    border-radius: 30px;
    padding: 15px;
    flex-wrap: wrap;
    cursor: default;
    margin: 20px 0;
}

.caixa h1 {
    width: 100%;
    font-size: 25px;
    margin: 5px 0;
    padding: 0;
    text-align: start;
}

.caixa_projeto {
    background-color: #00c04e;
    border-radius: 30px;
    padding: 10px;
    max-width: 400px;
    height: auto;
    margin: 10px;
}

.caixa_projeto h1 {
    font-size: 20px;
    margin: 10px 0;
}

/* Elementos */

.titulo {
    font-size: 40px;
    width: 100%;
    padding-left: 30px;
    text-align: center;
    margin: 20px 0;
}

.button {
    background-color: #00b81f;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
    transition: .3s;
}

.button:hover {
    background-color: #01971a;
}

.buttonOff {
    background-color: #acacac;
    height: 42px;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    cursor: not-allowed;
}

/* opção de links  */

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menuItem {
    position: relative;
    margin-right: 2rem;
    color: white;
}

.menuItem a,
.menuItem span {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.dropdownMenu {
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #00c04e;
    list-style: none;
    margin: 0;
    min-width: 150px;
    border-radius: 4px;
    transition: .3s ease-in-out;
}

.dropdownMenu li {
    padding: 0.5rem 1rem;
}

.dropdownMenu li a {
    color: white;
    text-decoration: none;
    position: relative;
}

.dropdownMenu li a::after {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.dropdownMenu li a:hover::after {
    width: 100%;
}


.dropdown:hover .dropdownMenu {
    opacity: 1;

}