@import url("../styles/colors.css");
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Permanent+Marker&family=Rubik:ital,wght@0,300..900;1,300..900&family=Spicy+Rice&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: var(--background);
  height: auto;
  color: var(--color);
  font-family: Rubik;
}
header{
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 20px;
}
header a{
  margin: 0 10px;
}
